{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "quotes": "off",
    "consistent-return": "off",
    "no-mixed-operators": "off",
    "prefer-destructuring": "warn",
    "no-param-reassign": "warn",
    "max-len": ["warn", 200],
    "arrow-parens": ["error", "as-needed"],
    "object-curly-newline": ["error", { "multiline": true }]
  }
}
